@using BizLogic;
@model DataLayer.Game
@{
    ViewBag.Title = "Board";
}

<h2>Board</h2>
<p>@ViewBag.Message</p>
<p>@ViewBag.Turn</p>
<p>@ViewBag.YourTurn</p>
@{
    var db = new DataLayer.Entities();
    bool?[,] array = Model.switchToBools(db);
    var currentPerson = (from p in db.Persons where p.UserName == User.Identity.Name select p).FirstOrDefault();
}
    @helper ViewHelper(bool? i)
    {
if (i == null)
{ <td></td> }

else if (i == true)
{ <td><img width="15" src="/Content/red.png" /></td> }

else if (i == false)
{ <td><img width="15" src="/Content/black.png" /></td> }
}
@if(!currentPerson.answeredMathQuestion)
{
 <p>@ViewBag.Question</p>  
    @Html.Raw("<input type='text' name='answer'>")
    using (Html.BeginForm())
    {
        <input type="submit" value="submit Answer"/>
    }
}

<table>
    @{ 

        for (int i = 0; i < Model.maxRows; i++)
        {
            Html.Raw("<tr>");
            for (int j = 0; j < Model.maxCols; j++)
            {
                Html.Raw((ViewHelper(array[i, j])));

            }
                  Html.Raw("</tr>");
            }
        }
</table>
@if (currentPerson.answeredMathQuestion)
{
    <p>Answer was ViewBag.Answer</p>
    if (@ViewBag.isRight == "true")
    {
        <p>Your answer was right.</p>
    }
    else
    {
        <p>Your answer was wrong.</p>
    }
}
@if (currentPerson.answeredMathQuestion && currentPerson.assignedBool==Model.currentUser)
{
    
    using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        for (int j = 0; j < Model.maxCols; j++)
        {
            @Html.RadioButton("col", j);

        }
        
    }
}


@using (Html.BeginForm(FormMethod.Post))
{
    Html.Raw("<input type='button' name = 'button' value='cancel' />");
}