@using BizLogic;
@model DataLayer.Game
@{
    ViewBag.Title = "Board";
}

<h2>Board</h2>
<p>@ViewBag.Message</p>
<p>@ViewBag.Turn</p>
@{
    var db = new DataLayer.Entities();
    bool?[,] array = Model.switchToBools(db);
}
    @helper ViewHelper(bool? i)
    {
if (i == null)
{ <td></td> }

else if (i == true)
{ <td><img width="15" src="/Content/red.png" /></td> }

else if (i == false)
{ <td><img width="15" src="/Content/black.png" /></td> }
}

<table>
    @{ 

        for (int i = 0; i < Model.maxRows; i++)
        {
            @Html.Raw("<tr>");
            for (int j = 0; j < Model.maxRows; j++)
            {
                @Html.Raw((ViewHelper(array[i, j])));

            }
                  @Html.Raw("</tr>");
            }
        }
</table>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    for (int j = 0; j < Model.maxRows; j++)
    {
        @Html.RadioButton("col", j);

    }
    @Html.Raw("<input type='button' name = 'button' value='cancel' />");
}

