@using BizLogic;
@using DataLayer;
@model DataLayer.Game
@{
    ViewBag.Title = "Board";
}
<style>
    td {
        border: 1px solid black;
        width: 70px;
        height: 70px;
        empty-cells: show;
    }
</style>
<h2>Board</h2>
<p>@ViewBag.Message</p>
@if (TempData["Message"] != null)
{
    <p>@TempData["Message"]</p>
}
<p>@ViewBag.Turn</p>

@if (TempData["YourTurn"] != null)
{
    <p>@TempData["YourTurn"]</p>
}

@{
    var db = new DataLayer.Entities2();
    bool?[,] array = Model.switchToBools(db);
    var currentPerson = (from p in db.Persons where p.UserName == User.Identity.Name select p).FirstOrDefault();
}

@if(currentPerson.assignedBool==true)
{
    <p>Your color is red.</p>
}
else
{
    <p>Your color is black.</p>
}

    @helper ViewHelper(bool? i)
    {
if (i == null)
{ <td></td> }

else if (i == true)
{ <td><img width="70" src="/Content/red.png" /></td> }

else if (i == false)
{ <td><img width="70" src="/Content/black.png" /></td> }
}
@if(!currentPerson.answeredMathQuestion && currentPerson.assignedBool == Model.currentUser)
{
 <p>@ViewBag.Question</p>  
    
    using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Raw("<input type='text' name='answer'>")
        <input type="submit" value="submit answer"/>
    }
}

<table>
    @{ 

        for (int i = Model.maxRows-1; i >= 0; i--)
        {
            @Html.Raw("<tr>");
            for (int j = 0; j <Model.maxCols; j++)
            {
                @Html.Raw((ViewHelper(array[i, j])));

            }
                  @Html.Raw("</tr>");
            }
        }
</table>
@if (TempData["isRight"]!=null && TempData["Answer"]!=null)
{
    <p>Answer was @TempData["Answer"]</p>
    if ((bool)@TempData["isRight"] == true)
    {
        <p>Your answer was right.</p>
    }
    else
    {
        <p>Your answer was wrong.</p>
    }
}
@if (currentPerson.answeredMathQuestion && currentPerson.assignedBool==Model.currentUser)
{
    
    using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        for (int j = 1; j < Model.maxCols+1; j++)
        {
            @Html.RadioButton("col", j) @j        

        }
        <input type="submit" value="submit" />
    }
}


@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Raw("<input type='submit' name = 'button' value='cancel game' />");
}