@model ActualConnectTrip.Models.StatsViewModel
@{
    ViewBag.Title = "GameStats";
}

<h2>GameStats</h2>

<p> Total number of games played : @Model.totalNumberOfGames</p>
<p>The overall percentage of wins : @Model.overAllPercentageView</p>
<p>the percentage of instances the questions were not answered within the alloted time: @Model.didNotAnswerView</p>
<p>Total number of games wins : @Model.totalNumberOfWins</p>
<p>Total number of games lost : @Model.totalNumberOfLose</p>
<p>Percentage of wins for level One : @Model.levelOnePercentageView</p>
<p>Percentage of wins for level Two : @Model.levelTwoPercentageView</p>
<p>Percentage of wins for level Three : @Model.levelThreePercentageView</p>
<p> How am doing in my games? @Model.GameComplimentView</p>
<p>Number of math questions answered correctly in level One : @Model.levelOneMathPercentage</p>
<p>Number of math questions answered correctly in level Two : @Model.levelTwoMathPercentage</p>
<p>Number of math questions answered correctly in level Three : @Model.levelThreeMathPercentage</p>
<p>Overall percentage of math questions answered correctly : @Model.overAllCorrectAnswersPercentage</p>
<p>How are my math skills? @Model.MathComplimentView</p>