@model ActualConnectTrip.Models.StartpageViewModel 
@{
    ViewBag.Title = "stindex";
}

<h2>stindex</h2>

<h3>Request a game now?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    
            <div class="col-md-offset-2 col-md-10">
                <div>Level 1 game</div>
                @Html.HiddenFor(model => model.myid, new { Value = Model.myid })
                @Html.HiddenFor(model => model.gamelevel, new { Value = 1 })
                @Html.HiddenFor(model => model.request, new { Value = true })
                <input type="submit" value="Request" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div>Level 2 game</div>
                @Html.HiddenFor(model => model.myid, new { Value = Model.myid })
                @Html.HiddenFor(model => model.gamelevel, new { Value = 2 })
                @Html.HiddenFor(model => model.request, new { Value = true })
                <input type="submit" value="Request" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div>Level 3 game</div>
                @Html.HiddenFor(model => model.myid, new { Value = Model.myid })
                @Html.HiddenFor(model => model.gamelevel, new { Value = 3 })
                @Html.HiddenFor(model => model.request, new { Value = true })
                <input type="submit" value="Request" class="btn btn-default" />
            </div>
        
}


<h3>Or play with these players?</h3>

<table class="table">
    <tr>Recommended</tr>
    @foreach (var item in Model.Recommended)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.player1Id)
            </td>
        </tr>
        <tr>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <td>
                    @Html.HiddenFor(model => model.oppoid, new { Value = item.player1Id })
                    @Html.HiddenFor(model => model.myid, new { Value = Model.myid })
                    @Html.HiddenFor(model => model.gamelevel, new { Value = 1 })
                    @Html.HiddenFor(model => model.request, new { Value = false })
                    <input type="submit" value="Accept" class="btn btn-default" />
                </td>
            }
        </tr>
    }
    <tr>level 1:</tr>
    @foreach (var item in Model.L1rivals)
    {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.player1Id)
                </td>
        </tr>
        <tr>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <td>
                    @Html.HiddenFor(model => model.oppoid, new { Value = item.player1Id })
                    @Html.HiddenFor(model => model.myid, new { Value = Model.myid })
                    @Html.HiddenFor(model => model.gamelevel, new { Value = 1 })
                    @Html.HiddenFor(model => model.request, new { Value = false })
                    <input type="submit" value="Accept" class="btn btn-default" />
                </td>
            }
        </tr>
    }


    <tr>level 2:</tr>
    @foreach (var item in Model.L2rivals)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.player1Id)
            </td>
        </tr>
        <tr>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <td>
                    @Html.HiddenFor(model => model.oppoid, new { Value = item.player1Id })
                    @Html.HiddenFor(model => model.myid, new { Value = Model.myid })
                    @Html.HiddenFor(model => model.gamelevel, new { Value = 2 })
                    @Html.HiddenFor(model => model.request, new { Value = false })
                    <input type="submit" value="Accept" class="btn btn-default" />
                </td>
            }
        </tr>
    }

    <tr>level 3:</tr>
    @foreach (var item in Model.L3rivals)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.player1Id)
            </td>
        </tr>
        <tr>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <td>
                    @Html.HiddenFor(model => model.oppoid, new { Value = item.player1Id })
                    @Html.HiddenFor(model => model.myid, new { Value = Model.myid })
                    @Html.HiddenFor(model => model.gamelevel, new { Value = 3 })
                    @Html.HiddenFor(model => model.request, new { Value = false })
                    <input type="submit" value="Accept" class="btn btn-default" />
                </td>
            }
        </tr>
    }


</table>
