@model ActualConnectTrip.Models.ProfilePageViewModel
@{
    ViewBag.Title = "MyProfile";
}

<h2>My Profile</h2>

<h3>@Model.userName</h3>
<h3>@Model.catchphraseView</h3>

<p>Total Number of Wins: @Model.totalNumberOfWins</p>
<p>Total Number of Lose: @Model.totalNumberOfLose</p>
<p>Overall Percentage Wins: @Model.overAllPercentageView%</p>

<p>Level One Percentage Wins: @Model.levelOnePercentageView%</p>
<p>Level Two Percentage Wins: @Model.levelTwoPercentageView%</p>
<p>Level Three Percentage Wins: @Model.levelThreePercentageView%</p>